.about-title {
  max-width: 40%;
  @include media-960 {
    max-width: unset;
  }
}

.about1 {
  @include flex('space-between', 'stretch');
  font-size: 14px;
  &.m-m1 {
    margin: 60px 0;
    @include media-768 {
      margin: 40px 0;
    }
    @include media-640 {
      margin: 20px 0;
    }
  }
  &.m-m2 {
    margin: 40px 0;
    @include media-640 {
      margin: 20px 0;
    }
  }
  @include media-768 {
    flex-direction: column;
  }
  &__l {
    flex: 1 1 auto;
    width: 100%;
  }
  &__r {
    flex: 0 0 auto;
    width: 460px;
    margin-left: 175px;
    position: relative;
    & > img {
      display: block;
      width: 100%;
    }
    @include media-1200 {
      width: 400px;
      margin-left: 100px;
    }
    @include media-960 {
      margin-left: 40px;
    }
    @include media-768 {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
    }
  }
  &__title {
    font-size: 20px;
  }
}

.about-cite1 {
  @include flex('space-between', 'flex-start');
  flex-direction: column;
  position: absolute;
  left: 0;
  top: -250px;
  width: 100%;
  color: $colorWhite;
  background: $colorSecondary;
  border: 2px solid $colorWhite;
  padding: 25px 35px;
  transition: all 0.4s ease-in-out;
  &:hover {
    top: -270px;
    background: #16598c;
  }
  @include media-960 {
    position: relative;
    top: 0;
    &:hover { top: 0; }
  }
  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 0;
    border-width: 25px;
    border-right-color: $colorGray600;
    border-bottom-color: $colorGray600;
  }

  &__head {
    @include flex('space-between', 'flex-start');
    width: 100%;
    font-size: 14px;
  }
  &__body {
    margin-top: 70px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__text {}
}

.about-cite2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  border: 1px solid $colorPrimary;
  font-style: italic;
  font-size: 14px;
  transition: all 0.4s ease-in-out;
  background: transparent;
  &:hover {
    bottom: 20px;
    border-color: $colorSecondary;
    background: $colorWhite;
  }
  @include media-960 {
    position: relative;
    top: 0;
    margin-top: 20px;
    bottom: auto;
  }
  &__text {
    margin-top: 15px;
  }
}

.about-white {
  background: $colorWhite;
  overflow: hidden;
  &.m-padding {
    padding: 40px 0 80px;
    @include media-768 {
      padding: 40px 0;
    }
    @include media-640 {
      padding: 20px 0;
    }
  }
}

.history {
  position: relative;
  & img {
    display: block;
    width: 100%;
  }
  @include media-768 {
    display: none;
  }
  &__title {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-weight: 700;
    color: $colorWhite;
    @include media-1200 {
      font-size: 28px;
      top: 20px;
    }
    @include media-960 {
      font-size: 20px;
      top: 10px;
    }
  }
}

.team {
  padding: 50px 0;
  @include media-768 {
    padding: 40px 0;
  }
  @include media-640 {
    padding: 20px 0;
  }
  &__text {
    max-width: 530px;
    font-size: 14px;
    margin-bottom: 50px;
  }
  &__image {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
  &__list {
    @include flex('flex-start', 'stretch');
    flex-wrap: wrap;
  }
  &__item {
    border: 1px solid $colorGray500;
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(4n) {
      margin-right: 0;
    }
    @include media-768 {
      width: calc((100% - 30px) / 2);
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  &__item-image {
    display: block;
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: center;
    @include media-640 {
      height: auto;
    }
  }
  &__item-text {
    background: $colorWhite;
    padding: 30px;
    line-height: 1.3;
    @include media-640 {
      padding: 15px;
    }
  }
  &__item-name {
    font-weight: 700;
  }
  &__item-pos {
    font-size: 14px;
    color: $colorGray400;
  }
}