<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="/js/libs/owl/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/js/libs/owl/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/js/libs/slick/slick.css">
    <link rel="stylesheet" href="/js/libs/slick/slick-theme.css">
    <link rel="stylesheet" href="/js/libs/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/style.bundle.css">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <title>Titan</title>
</head>
<body>
<script src="/js/libs/jquery-3.3.1.min.js"></script>
<header class="header">
    <div class="header__search-block js-search-block">
        <form class="header__search-block-inner container">
            <input class="header__search-block-input" type="text"/>
            <button class="header__search-block-submit button">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    <div class="header__top container">
        <div class="header__logo">
            <a href="/" class="logo">
                <img src="/img/titan_logo.png"/>
            </a>
        </div>
        <a class="header__search js-search" href="javascript://">
            <img src="/img/icon_search2.png"/>
            <span>Поиск</span>
        </a>
        <a class="header__feedback js-feedback-open" href="">
            <img src="/img/icon_feedback2.png"/>
            <span>Обратная связь</span>
        </a>
        <a class="header__email" href="mailto:te@szte.ru">te@szte.ru</a>
        <a class="header__phone" href="tel:+78126120551">+7 (812) 612-05-51</a>
        <div class="header__lang">
            <a class="header__lang-link m-active" href="">Ru</a>
            <a class="header__lang-link" href="">En</a>
        </div>
        <a class="header__burger js-burger" href="javascript://">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="header__divider"></div>
    <div class="header__menu-shader js-menu-shader"></div>
    <div class="header__menu container js-menu">
        <a class="header__menu-close js-menu-close" href="javascript://">&times;</a>

        <a class="header__menu-link m-active" href="">О компании</a>
        <a class="header__menu-link" href="">Услуги</a>
        <a class="header__menu-link" href="">Оборудование</a>
        <a class="header__menu-link" href="">Реализованные проекты</a>
        <a class="header__menu-link" href="">Новости</a>
        <a class="header__menu-link" href="">Статьи</a>
        <a class="header__menu-link" href="">Контакты</a>
    </div>

    <% if(bc) { %>
    <div class="header__divider"></div>
    <div class="header__bc container">
        <span class="header__bc-item">Главная</span>
        <a class="header__bc-item" href="">Контакты</a>
        <a class="header__bc-item" href="">Что-то еще длинное</a>
    </div>
    <div class="header__divider"></div>
    <% } %>
</header>
