<%= _.template(require('./../includes/header.html'))({ bc: true }) %>
<%= _.template(require('./../includes/svg.html'))() %>

<div class="page">
    <div class="container">
        <div class="article">
            <img class="article__image" src="/uploads/article_main1.jpg"/>
            <h1>Рынок электроэнергетики:<br>шансы на выживание</h1>
            <p>Чтобы быть в курсе отраслевых трендов и тенденций, наши специалисты регулярно проводят аналитическую работу. В этой статье мы поделимся
                с вами результатами исследований и постараемся составить в голове сложившуюся на рынке картину.
            </p>

            <h2>Опасное оборудование</h2>
            <p>На отечественном рынке электрооборудования существует большое количество проблем. Среди основных — износ оборудования.
                Этот вопрос мы регулярно отслеживаем, потому что он непосредственно влияет на развитие отрасли и энергетическую безопасность в целом.
                По нашим данным и данным наших партнёров, срок эксплуатации
                64% электрических подстанций в России превышает нормативный
                и составляет более 25 лет.
            </p>

            <img src="/uploads/article_img1.jpg"/>

            <h2>Чужое — не значит лучше</h2>
            <p>Другая проблема — большой объём импорта электрооборудования.
                В 2017 году он вырос на 27%. Это связано с отсутствием инвестиций
                в отрасль, поэтому многие российские производители либо не выпускают необходимый ассортимент, либо изготавливают продукцию низкого качества. Единственное, в чём игроки отечественного рынка могут конкурировать с иностранными представителями — в цене.
            </p>

            <img src="/uploads/article_img2.jpg"/>

            <h2>Участие государства</h2>
            <p>Решить эти вопросы можно модернизацией рынка электрооборудования.
                В последнее время на государственном уровне происходит активное обсуждение сложившейся ситуации. Было предпринято несколько эффективных мер: утверждение президентом перечня поручений
                по вопросам привлечения инвестиций в модернизацию объектов
                генерации тепловой электроэнергетики, заявление президента
                в послании Федеральному Собранию об обязательном переходе
                системы электроэнергетики на цифровой режим, постановления
                в поддержку глобального перехода на ВИЭ, ряд правовых актов
                в поддержку импортозамещения.
            </p>
            <p>Наша команда также активно поддерживает данные тенденции,
                чтобы сформировать уверенный рынок электроэнергетики в России, вывести его на новый уровень нашими силами и силами партнёров.
            </p>

            <img src="/uploads/article_img3.jpg"/>

            <h2>Изменения будут</h2>
            <p>Участие правительства в решении данных вопросов — первое звено
                в цепочке необходимых мер для повышения уровня отечественно рынка электроэнергетики. Конечно, необходимо, чтобы каждый участник делал шаг навстречу: российские производители повышали качество изготавливаемой продукции, расширяли ассортимент, предприятия
                — поддерживали отечественного производителя и регулярно обновляли серии электротехнических изделий.
            </p>
            <p>Такой подход может в корне изменить ситуацию на рынке
                в положительную сторону.
            </p>

            <img src="/uploads/article_img4.jpg"/>

            <blockquote>Мы считаем, что понимание участниками отрасли конъюнктуры рынка,
                его тенденций, стратегий развития и государственных нововведений
                поможет нам и нашим партнёрам позитивно влиять на отрасль.
            </blockquote>

            <div class="article__share share">
                <span class="share__text">Поделиться:</span>
                <a href="" class="share__link"><img src="/img/icon_vk.png"/></a>
                <a href="" class="share__link"><img src="/img/icon_fb.png"/></a>
                <a href="" class="share__link"><img src="/img/icon_go.png"/></a>
            </div>

            <div class="article__siblings">
                <div class="article__sibling">
                    <a class="article__sibling-link link m-prev" href=""><span>Предыдущая новость</span></a>
                    <div class="article__sibling-block">
                        <img class="article__sibling-image" src="//placeimg.com/240/340/tech?1"/>
                        <div class="article__sibling-info">
                            <div class="article__sibling-title">Рынок электроэнергетики:<br>шансы на выживание</div>
                            <div class="article__sibling-text">Чтобы быть в курсе отраслевых трендов и тенденций, наши ...</div>
                        </div>
                    </div>
                </div>
                <div class="article__sibling">
                    <a class="article__sibling-link link m-next" href=""><span>Следующая новость</span></a>
                    <div class="article__sibling-block">
                        <img class="article__sibling-image" src="//placeimg.com/240/340/tech?2"/>
                        <div class="article__sibling-info">
                            <div class="article__sibling-title">Наш учебный центр:<br>повышаем качество образования</div>
                            <div class="article__sibling-text">В последнее время мы наблюдаем снижение качества ...</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center">
                <a class="button m-styled1" href="">Показать все статьи</a>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))() %>