<%= _.template(require('./../includes/header.html'))({ bc: true }) %>
<%= _.template(require('./../includes/svg.html'))() %>

<div class="page">
    <div class="container">
        <div class="banner3">
            <img class="banner3__bg" src="/img/bg1.jpg"/>
            <p class="banner3__text">Наши лицензии и сертификаты</p>
            <div class="banner3__title h1">Лицензии и сертификаты</div>
        </div>

        <div class="page__layout">
            <div class="page__left">
                <%= _.template(require('./../includes/sidebar.html'))() %>
            </div>
            <div class="page__right">
                <div class="listing3">
                    <div class="listing3__item">
                        <img class="listing3__image" src="//placeimg.com/240/340/tech?1">
                        <div class="listing3__title">
                            <span>Название лицензии</span>
                        </div>
                    </div>
                    <div class="listing3__item">
                        <img class="listing3__image" src="//placeimg.com/240/340/tech?2">
                        <div class="listing3__title">
                            <span>Название лицензии</span>
                        </div>
                    </div>
                    <div class="listing3__item">
                        <img class="listing3__image" src="//placeimg.com/240/340/tech?3">
                        <div class="listing3__title">
                            <span>Название лицензии</span>
                        </div>
                    </div>
                    <div class="listing3__item">
                        <img class="listing3__image" src="//placeimg.com/240/340/tech?4">
                        <div class="listing3__title">
                            <span>Название лицензии</span>
                        </div>
                    </div>
                    <div class="listing3__item">
                        <img class="listing3__image" src="//placeimg.com/240/340/tech?5">
                        <div class="listing3__title">
                            <span>Название лицензии</span>
                        </div>
                    </div>
                    <div class="listing3__item">
                        <img class="listing3__image" src="//placeimg.com/240/340/tech?6">
                        <div class="listing3__title">
                            <span>Название лицензии</span>
                        </div>
                    </div>
                    <div class="listing3__item">
                        <img class="listing3__image" src="//placeimg.com/240/340/tech?7">
                        <div class="listing3__title">
                            <span>Название лицензии</span>
                        </div>
                    </div>
                    <div class="listing3__item">
                        <img class="listing3__image" src="//placeimg.com/240/340/tech?8">
                        <div class="listing3__title">
                            <span>Название лицензии</span>
                        </div>
                    </div>
                    <div class="listing3__item m-wide">
                        <img class="listing3__image" src="//placeimg.com/510/340/tech?9">
                        <div class="listing3__title">
                            <span>Название лицензии</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= _.template(require('./../includes/seo.html'))() %>
</div>

<%= _.template(require('./../includes/footer.html'))() %>
