<%= _.template(require('./../includes/header.html'))({ bc: true }) %>
<%= _.template(require('./../includes/svg.html'))() %>

<div class="page">
    <div class="container">
        <div class="banner3 m-mt">
            <img class="banner3__bg" src="/img/bg9.jpg"/>
            <div class="banner3__sub">Фонд помощи</div>
            <div class="banner3__title h1">«Энергия Добрых Сердец»</div>
            <p class="banner3__text">Оказание помощи детям с ДЦП и многодетным семьям</p>
        </div>

        <div class="page__layout">
            <div class="page__left">
                <%= _.template(require('./../includes/sidebar.html'))() %>
            </div>
            <div class="page__right">
                <h1 class="h1 m-t0">Помощь детям с ДЦП</h1>

                <div class="charity1">
                    <div class="charity1__head">
                        <div class="charity1__title">Цели и задачи Фонда помощи</div>
                        <div class="charity1__label">Энергия добрых сердец</div>
                    </div>
                    <div class="charity1__body">
                        <ul class="type2">
                            <li>обеспечение реабилитационных мероприятий</li>
                            <li>покупка технических средств реабилитации
                                (ТСР): инвалидные коляски — домашние
                                и прогулочные, ортезы, вертикализаторы,
                                ходунки;
                            </li>
                        </ul>
                        <ul class="type2">
                            <li>оплата дополнительных
                                медобследований;</li>
                            <li>обеспечение санаторно-курортного
                                лечения.</li>
                        </ul>
                    </div>
                </div>

                <div class="charity2">
                    <p>Фонд помощи «Энергия Добрых Сердец» сотрудничает с различными реабилитационными центрами России и зарубежья, собирая полезную информацию по эффективности работы их специалистов.</p>
                    <p><b>Фонд помощи «Энергия Добрых Сердец» создан для оказания
                        помощи детям с ДЦП и многодетным семьям.</b></p>
                </div>

                <h2>Почему именно таким детям и семьям?</h2>

                <div class="charity3">
                    <div class="charity3__l">
                        <div class="charity3__l-top">На сегодняшний день в России насчитывается около</div>
                        <div class="charity3__l-bottom">
                            <div class="charity3__l-value">80</div>
                            <div class="charity3__l-text">
                                <div><b>тысяч детей</b></div>
                                <div>с таким диагнозом</div>
                            </div>
                        </div>
                    </div>
                    <div class="charity3__r">
                        <h3 class="charity3__title">Это серьёзная цифра, и чаще всего ДЦП</h3>
                        <p>это диагноз, который ставится большинству малышей ещё до года. Причины ДЦП разные
                            — от родовой травмы, агрессивного родовспоможения до неудачной
                            прививки или недоношенности.
                        </p>
                        <p>Число детей с ДЦП неумолимо растёт в связи
                            с тем, что медработники научились выхаживать детей весом до 500 грамм, которые часто впоследствии имеют тяжелые нарушения.
                        </p>

                        <h3 class="charity3__title">Основное в ДЦП — поражение мозга.</h3>
                        <p>В результате различных причин клетки мозга погибают, не уходят определённые рефлексы новорождённых — всё это факторы, мешающие ребёнку развиваться и учиться тому, что мы умеем от природы.
                        </p>
                        <p>Приобретение элементарных навыков — первый переворот, первое слово — для некоторым детей является роскошью, на их обучение могут уйти годы беспрерывного труда.
                        </p>
                        <p>Оставлять таких детей без реабилитации нельзя, ведь иначе они превращаются в лежачих, тяжелобольных взрослых.
                        </p>
                    </div>
                </div>

                <div class="charity4">
                    <div class="charity4__text">
                        Задача нашего Фонда помощи дать
                        ребёнку шанс стать хоть и особенным,
                        но полноценным членом общества.
                    </div>
                </div>

                <div class="charity5">
                    <div class="charity5__col">
                        <p>Если вы хотите дать шанс ребёнку, нужно проводить реабилитационные мероприятия. Они включают в себя различные виды: ЛФК, массаж, физиотерапию, гидрореабилитацию, логопеда, дефектолога, психолога, медикаментозное воздействие
                            и многое другое.
                        </p>
                    </div>
                    <div class="charity5__col">
                        <p>К сожалению, тот объём, который предоставляют в государственных медицинских учреждениях, не позволит совершить чуда. Обычно это — 10 стандартных массажей
                            и 10 ЛФК несколько раз в год. Для достижения результата необходимо практически каждый день проводить ЛФК и массаж, встречаться
                            с логопедом и дефектологом. Поэтому в мире существуют различные реабилитационные центры, где проводят качественную реабилитацию, длящуюся не один месяц.
                        </p>
                    </div>
                </div>

                <img class="charity-image" src="/img/charity1.jpg"/>

                <h2>Почему именно таким детям и семьям?</h2>

                <div class="charity5">
                    <div class="charity5__col">
                        <p>При лёгкой степени ДЦП
                            ребёнок не получит возможности
                            передвигаться. В тяжёлой форме,
                            при которой поражён мозг,
                            любое движение даётся
                            с неимоверным трудом.
                        </p>
                    </div>
                    <div class="charity5__col">
                        <p>Отсутствие реабилитации часто приводит
                            к контрактуре, ухудшению в тазобедренных суставах. Во многих случаях дети перестают передвигаться и глотать — захлёбываются
                            даже от воды.
                        </p>
                    </div>
                </div>

                <h2>Что даёт полноценная реабилитация?</h2>

                <div class="charity6">
                    <div class="charity6__l">
                        Полноценная реабилитация даёт улучшения в жизни не только ребёнка, но и его родителей. Ведь дети растут и носить
                        на руках годовалого не ходящего ребёнка
                        — совсем не то, что человека, не умеющего передвигаться самостоятельно в 5-10-летнем возрасте. У многих детей диагноз влияет
                        на речь и интеллект. Насколько счастливы родители, когда после многих лет работы
                        с такими детьми, они слышат
                        их первые слова.
                    </div>
                    <div class="charity6__r">
                        <img src="/img/charity2.jpg"/>
                    </div>
                </div>

                <h2>Какие вопросы решает Фонд помощи?</h2>

                <div class="charity7">
                    <div class="charity7__item">
                        <ul class="type2">
                            <li>Найти своего специалиста, свой реабилитационный центр, имеющий
                                возможность помочь ребёнку, — сложно. Найти деньги на такой курс
                                лечения — ещё сложнее, если учесть, что таких курсов нужно несколько в год.
                            </li>
                        </ul>
                    </div>
                    <div class="charity7__item">
                        <ul class="type2">
                            <li>В семьях с детьми-инвалидами чаще работает только один из членов
                                семьи, второй просто не может оставить ребёнка одного ни в год,
                                ни в десять лет, потому что такие дети просто не могут сами себя обслужить.
                            </li>
                        </ul>
                    </div>
                    <div class="charity7__item">
                        <ul class="type2">
                            <li>Помощь таким детям найти очень тяжело, так как ДЦП — это не смертельное
                                заболевание, хотя последствия часто приводят к смертельному исходу,
                                но об этом мало кто знает.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="charity8">
                    <p class="charity8__text">
                        Наш Фонд помощи поставил перед собой задачу помогать таким детям
                        на постоянной основе. Дать им шанс на самостоятельную жизнь! Дать
                        им шанс на жизнь без боли и страданий.
                    </p>
                    <img src="/img/icon_heart.png"/>
                </div>

                <img class="charity-image" src="/img/charity3.jpg"/>

                <h2>Помощь многодетным семьям</h2>
                <p>Это достаточно незащищённая категория. Так сложилось, что экономическая
                    обстановка серьёзно ущемляет именно такие семьи. Поддерживая многодетные
                    семьи, мы поддерживаем детей, давая им шанс выжить в сегодняшних реалиях.
                </p>

                <div class="charity1">
                    <div class="charity1__head">
                        <div class="charity1__title">Цели и задачи Фонда помощи</div>
                        <div class="charity1__label">Энергия добрых сердец</div>
                    </div>
                    <div class="charity1__body">
                        <ul class="type2">
                            <li>оплата дорогостоящего лечения;</li>
                            <li>обеспечение летнего отдыха;</li>
                        </ul>
                        <ul class="type2">
                            <li>помощь в приобретении товаров
                                первой необходимости.</li>
                        </ul>
                    </div>
                </div>

                <div class="charity9">
                    <div class="charity9__inner">
                        <div class="charity9__t1">Читая эти строки, многие задаются вопросом:</div>
                        <div class="charity9__t2">Почему я должен помогать?</div>
                        <div class="charity9__t3">Потому что в вашей помощи многодетные семьи и дети
                            с ДЦП нуждаются в нашей помощи. Их жизни и здоровье зависят от вашей доброй воли и любви.
                        </div>
                    </div>
                    <div class="charity9__image"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))() %>
