<%= _.template(require('./../includes/header.html'))({ bc: true }) %>
<%= _.template(require('./../includes/svg.html'))() %>

<div class="page">
    <div class="container page-padding m-no-bottom">
        <div class="equipment-detail">
            <div class="equipment-detail__head">
                <div class="equipment-detail__left">
                    <%= _.template(require('./../includes/gallery.html'))() %>
                </div>
                <div class="equipment-detail__right">
                    <h1 class="equipment-detail__heading h2">Шкафы релейной защиты и автоматики для транформаторных подстанций ШЭРЗ</h1>

                    <a class="equipment-detail__btn button m-styled0" href="">Оборудование РЗА и АСУ ТП</a>

                    <div class="equipment-detail__block">
                        <h3 class="equipment-detail__title">Эта серия применяется для:</h3>
                        <ul class="type2">
                            <li>комплексной защиты оборудования
                                трансформаторных станций и подстанций;</li>
                            <li>автоматизации и управления
                                коммутационными аппаратами;</li>
                            <li>локальной и общестанционной
                                противоаварийной автоматики.</li>
                        </ul>
                    </div>
                    <div class="equipment-detail__block">
                        <h3 class="equipment-detail__title">Серия ШЭРЗ обеспечивает защиту и автоматизацию следующим видам присоединений:</h3>
                        <ul class="type2">
                            <li>комплексной защиты оборудования
                                трансформаторных станций и подстанций;</li>
                            <li>автоматизации и управления
                                коммутационными аппаратами;</li>
                            <li>локальной и общестанционной
                                противоаварийной автоматики.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <img class="equipment-detail__wide-image" src="/uploads/equipment1.jpg"/>
        </div>

        <h2>Конструкция</h2>

        <div class="equipment-detail__block m-padding2">
            <h3 class="equipment-detail__title">Особенности</h3>
            <div class="equipment-detail__block2">
                <div class="equipment-detail__block2-row">
                    <div class="equipment-detail__block2-title">Каркас:</div>
                    <div class="equipment-detail__block2-text">металлоконструкция импортных
                        и отечественных производителей
                        — Rittal, Tekpan, Siemens, DKC
                        и других.
                    </div>
                </div>
                <div class="equipment-detail__block2-row">
                    <div class="equipment-detail__block2-title">Обслуживание:</div>
                    <div class="equipment-detail__block2-text">одностороннее / двустороннее.</div>
                </div>
                <div class="equipment-detail__block2-row">
                    <div class="equipment-detail__block2-title">Передняя дверь:</div>
                    <div class="equipment-detail__block2-text">глухая / обзорная.</div>
                </div>
                <div class="equipment-detail__block2-row">
                    <div class="equipment-detail__block2-title">Задняя дверь:</div>
                    <div class="equipment-detail__block2-text">двустворчатая / одностворчатая.</div>
                </div>
                <div class="equipment-detail__block2-row">
                    <div class="equipment-detail__block2-title">Подвод кабелей:</div>
                    <div class="equipment-detail__block2-text">снизу, через днище шкафа / сверху,
                        через щеточный буртик.</div>
                </div>
                <div class="equipment-detail__block2-row">
                    <div class="equipment-detail__block2-title">Ряды зажимов:</div>
                    <div class="equipment-detail__block2-text">на стенках шкафа.</div>
                </div>
            </div>
        </div>
        <div class="equipment-detail__blocks">
            <div class="equipment-detail__block m-padding2">
                <h3 class="equipment-detail__title">Конструкция шкафов состоит из модулей:</h3>
                <ul class="type2 m-dd">
                    <li>с ключами управления;</li>
                    <li>с микропроцессорными терминалами;</li>
                    <li>с элементами сигнализации.</li>
                </ul>
            </div>
            <div class="equipment-detail__block m-padding2">
                <h3 class="equipment-detail__title">Данная конструкция обеспечивает:</h3>
                <ul class="type2 m-dd">
                    <li>удобство и безопасность обслуживания;</li>
                    <li>легкость установки и подключения
                        внешних соединений;</li>
                    <li>исключение возможности взаимного
                        влияния устройств;</li>
                    <li>доступ к контактным соединениям;</li>
                    <li>удобство ремонта и замены изношенных
                        деталей аппаратов;</li>
                    <li>возможность доработки и замены каждого
                        модуля по отдельности.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="equipment-tech">
        <div class="container">
            <h2>Технические характеристики</h2>
            <div class="equipment-tech__table-wrapper">
                <table class="equipment-tech__table">
                    <tr>
                        <td>Номинальное напряжение целей питания постоянного тока</td>
                        <td>220В</td>
                    </tr>
                    <tr>
                        <td>Номинальное напряжение целей освещения переменного тока</td>
                        <td>220В, 50 Гц</td>
                    </tr>
                    <tr>
                        <td>Номинальное напряжение изоляции</td>
                        <td>≥ 2000В</td>
                    </tr>
                    <tr>
                        <td>Условия окружающей среды в части электромагнитной совместимости</td>
                        <td>класс А</td>
                    </tr>
                    <tr>
                        <td>Степень защиты</td>
                        <td>до IP54</td>
                    </tr>
                    <tr>
                        <td>Стандартные габаритные размеры* (ширина х высота х глубина)</td>
                        <td>800 х 2000 х 600 мм</td>
                    </tr>
                    <tr>
                        <td>Номинальное напряжение целей питания постоянного тока</td>
                        <td>220В</td>
                    </tr>
                    <tr>
                        <td>Номинальное напряжение целей освещения переменного тока</td>
                        <td>220В, 50 Гц</td>
                    </tr>
                </table>
            </div>
            <div class="equipment-tech__info">
                Возможно изготовление шкафов других размеров по желанию партнера.
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Реализованные промышленные проекты</h2>

        <div class="projects m-mt m-mb">
            <div class="projects__item">
                <div class="projects__item-info">
                    <a class="projects__item-title" href="">Подстанция 110/10 кВ №347 для нужд ПАО «Ленэнерго»</a>
                    <p class="projects__item-text">Полная реконструкция подстанции
                        110/10 кВ №347 с заменой
                        распределительного устройства
                        и общеподстанционного пункта
                        управления (ОПУ).
                    </p>
                    <a class="projects__item-link link" href="">Подробнее</a>
                </div>
                <a class="projects__item-image" href="">
                    <img src="/uploads/project1.jpg"/>
                </a>
            </div>

            <div class="projects__item">
                <div class="projects__item-info">
                    <a class="projects__item-title" href="">Подстанция 110/10 кВ «Высоцкая» для электроснабжения завода СПГ Криогаз-Высоцк (Новатэк)</a>
                    <p class="projects__item-text">Формирование рабочей документации,
                        согласование проектных решений
                        со всеми участниками проекта
                        и производство оборудования
                        для подстанции.
                    </p>
                    <a class="projects__item-link link" href="">Подробнее</a>
                </div>
                <a class="projects__item-image" href="">
                    <img src="/uploads/project2.jpg"/>
                </a>
            </div>

            <div class="projects__more center">
                <a class="button m-styled1" href="">Еще проекты</a>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
  $(document).ready(function(){
    PageEquipment.init()
  })
</script>

<%= _.template(require('./../includes/footer.html'))() %>
