<%= _.template(require('./../includes/header.html'))({ bc: false }) %>
<%= _.template(require('./../includes/svg.html'))() %>

<div class="page">
    <div class="banner1">
        <div class="container">
            <div class="banner1__block m-block1">
                <div class="banner1__value js-animate-value">10</div>
                <div class="banner1__label">лет на рынке</div>
            </div>
            <div class="banner1__block m-block2">
                <div class="banner1__value js-animate-value">185</div>
                <div class="banner1__label">введенных в эксплуатацию<br>подстанций</div>
            </div>
            <div class="banner1__block m-block3">
                <div class="banner1__value js-animate-value">5207</div>
                <div class="banner1__label">единиц современного<br>оборудования</div>
            </div>
            <div class="banner1__block m-block4">
                <div class="banner1__value js-animate-value">157</div>
                <div class="banner1__label">высококвалифицированных<br>сотрудников</div>
            </div>
        </div>
    </div>
    <div class="main1 container">
        <div class="main1__top">
            <div class="main1__left">
                <h2 class="h1">Ведем проекты в сфере электроэнергетики к результату!</h2>
            </div>
            <div class="main1__right">
                <p>Сопровождаем вас в сфере электроэнергетики: разрабатываем
                    проекты, производим электрооборудование и вводим
                    в эксплуатацию энергообъекты разного уровня сложности.
                    Мы внедряем комплексные технические решения, предлагая
                    несколько оптимальных путей в зависимости
                    от поставленных задач</p>

                <h3 class="h2">Преимущества комплексного ведения проектов</h3>
                <ul>
                    <li>Сокращение сроков <b>до 25%</b></li>
                    <li>Экономия <b>до 15%</b> за счет оптимизации проекта</li>
                    <li>Выполнение работ на индивидуальных условиях</li>
                </ul>
            </div>
        </div>
        <div class="main1__wrapper">
            <div class="main1__bottom">
                <a class="main1__item" href="">
                    <img class="main1__item-icon" src="/uploads/main1_icon1.png"/>
                    <div class="main1__item-text">Разработка проектной документации</div>
                </a>
                <a class="main1__item" href="">
                    <img class="main1__item-icon" src="/uploads/main1_icon2.png"/>
                    <div class="main1__item-text">Изготовление электрооборудования</div>
                </a>
                <a class="main1__item" href="">
                    <img class="main1__item-icon" src="/uploads/main1_icon3.png"/>
                    <div class="main1__item-text">Строительно-монтажные работы</div>
                </a>
                <a class="main1__item" href="">
                    <img class="main1__item-icon" src="/uploads/main1_icon4.png"/>
                    <div class="main1__item-text">Пусконакладочные работы</div>
                </a>
                <a class="main1__item" href="">
                    <img class="main1__item-icon" src="/uploads/main1_icon5.png"/>
                    <div class="main1__item-text">Техническая поддержка</div>
                </a>
                <a class="main1__item" href="">
                    <img class="main1__item-icon" src="/uploads/main1_icon6.png"/>
                    <div class="main1__item-text">Обучение компаний-партнёров</div>
                </a>
                <a class="main1__item" href="">
                    <img class="main1__item-icon" src="/uploads/main1_icon7.png"/>
                    <div class="main1__item-text">Электролаборатория</div>
                </a>
            </div>
        </div>
    </div>

    <%= _.template(require('./../includes/banner2.html'))() %>

    <div class="main2 container js-main2">
        <h2 class="h1">Реализованные проекты</h2>
        <div class="main2__inner">
            <div class="main2__list">
                <div class="main2__item js-item">
                    <div class="main2__item-title">Подстанция 110/10 кВ №347</div>
                    <div class="main2__item-text">ПАО «Ленэнерго»</div>
                    <a class="main2__item-link" href="">Подробнее</a>
                    <div class="main2__item-data js-img">/uploads/main2_img1.jpg</div>
                    <div class="main2__item-data js-text">1 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
                </div>
                <div class="main2__item js-item">
                    <div class="main2__item-title">Подстанция 110/10 кВ «Высоцкая»</div>
                    <div class="main2__item-text">Завод СПГ Криогаз-Высоцк (Новатэк)</div>
                    <a class="main2__item-link" href="">Подробнее</a>
                    <div class="main2__item-data js-img">/uploads/main2_img1.jpg</div>
                    <div class="main2__item-data js-text">2 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
                </div>
                <div class="main2__item js-item">
                    <div class="main2__item-title">Подстанция 110/10 №180 «Корнеевская»</div>
                    <div class="main2__item-text">ПАО «Ленэнерго»</div>
                    <a class="main2__item-link" href="">Подробнее</a>
                    <div class="main2__item-data js-img">/uploads/main2_img1.jpg</div>
                    <div class="main2__item-data js-text">3 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
                </div>
                <div class="main2__item js-item">
                    <div class="main2__item-title">Подстанция 110/10 «Магистральная»</div>
                    <div class="main2__item-text">ПАО «Ленэнерго»</div>
                    <a class="main2__item-link" href="">Подробнее</a>
                    <div class="main2__item-data js-img">/uploads/main2_img1.jpg</div>
                    <div class="main2__item-data js-text">4 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
                </div>
            </div>
            <div class="main2__detail">
                <img class="main2__image js-main2-img" src=""/>
                <div class="main2__text">
                    <div class="main2__text-inner js-main2-text"></div>
                </div>
            </div>
        </div>
        <a class="main2__all button m-styled1" href=""><b>Смотреть все проекты</b></a>
    </div>

    <div class="main3">
        <a class="main3__inner" href="">
            <img class="main3__icon" src="/img/main3_play.png"/>
            <span>Смотреть видео о компании</span>
        </a>
    </div>

    <%= _.template(require('./../includes/news.html'))({ title: 'Новости' }) %>
</div>

<script type="application/javascript">
    $(document).ready(function(){
      PageMain.init()
    })
</script>

<%= _.template(require('./../includes/footer.html'))() %>