<style>
    a[href] { color: blue; text-decoration: none }
</style>
<ul>
    <li><a href="main.html" target="_blank">1. Главная-страница</a></li>
    <li><a href="about.html" target="_blank">2. О-компании</a></li>
    <li><a target="_blank">3. Благотворительность</a></li>
    <li><a href="certificates.html" target="_blank">4. Лицензии-и-сертификаты</a></li>
    <li><a href="reference.html" target="_blank">5. Референс-лист</a></li>
    <li><a href="testimonials.html" target="_blank">6. Благодарственные-письма</a></li>
    <li><a href="vacancies.html" target="_blank">7. Вакансии</a></li>
    <li><a href="equipments.html" target="_blank">8. Оборудование</a></li>
    <li><a href="equipment.html" target="_blank">9. Оборудование-(внутренняя-страница)</a></li>
    <li><a href="services.html" target="_blank">10. Услуги</a></li>
    <li><a href="service.html" target="_blank">11. Услуги-(внутренняя-страница)</a></li>
    <li><a href="contacts.html" target="_blank">12. Контакты</a></li>
    <li><a href="articles.html" target="_blank">13. Статьи</a></li>
    <li><a href="article.html" target="_blank">14. Статьи-(внутренняя-страница)</a></li>
    <li><a href="projects.html" target="_blank">15. Реализованные-проекты</a></li>
    <li><a href="project.html" target="_blank">16. Реализованные-проекты-(внутреняя-страница)</a></li>
    <li><a href="404.html" target="_blank">17. 404</a></li>
    <li><a href="search.html" target="_blank">18. Результаты-поиска</a></li>
    <li><a href="personal.html" target="_blank">19. Персональные-данные</a></li>
</ul>