<style>
    a[href] { color: blue; text-decoration: none }
</style>
<ul>
    <li><a href="main.html">1. Главная-страница</a></li>
    <li><a>2. О-компании</a></li>
    <li><a>3. Благотворительность</a></li>
    <li><a href="certificates.html">4. Лицензии-и-сертификаты</a></li>
    <li><a>5. Референс-лист</a></li>
    <li><a href="testimonials.html">6. Благодарственные-письма</a></li>
    <li><a>7. Вакансии</a></li>
    <li><a>8. Оборудование</a></li>
    <li><a>9. ШЭРЗ - Оборудование-(внутренняя-страница)</a></li>
    <li><a>10. Услуги</a></li>
    <li><a>11. Услуги-(внутренняя-страница)</a></li>
    <li><a href="contacts.html">12. Контакты</a></li>
    <li><a href="articles.html">13. Статьи</a></li>
    <li><a href="article.html">14. Статьи-(внутренняя-страница)</a></li>
    <li><a>15. Реализованные-проекты</a></li>
    <li><a href="project.html">16. Реализованные-проекты-(внутреняя-страница)</a></li>
    <li><a href="404.html">17. 404</a></li>
    <li><a href="search.html">18. Результаты-поиска</a></li>
    <li><a href="personal.html">19. Персональные-данные</a></li>
</ul>