<%= _.template(require('./../includes/header.html'))({ bc: true }) %>
<%= _.template(require('./../includes/svg.html'))() %>

<div class="page">
    <div class="container">
        <div class="personal">
            <h1>Согласие об обработке персональных данных</h1>

            <p><b>Согласие на обработку персональных данных — дает право на обработку паспортных
                данных, адреса, даты рождения и даже фамилия имя и отчество каждого гражданина,
                которые особо охраняет законодательство. Все лица, которые по тем или иным причинам
                получают, обрабатывают, передают или хранят такие сведения, являются операторами
                и обязательно должны получить согласие на любые действия с полученной информацией.
            </b></p>

            <p>Понятие персональных данных и обращение с ними регулирует Федеральный закон от 27.07.2006 N 152-ФЗ
                в редакции от 22.02.2017 г. В соответствии с этим документом, под личными данными граждан, охраняемыми законодательством, следует понимать любую информацию, которая прямо или косвенно относится непосредственно к их субъекту (то есть физическому лицу). Такая информация позволяет однозначно определить, о каком именно человеке идет речь.
            </p>

            <h2>Что именно является личной информацией граждан</h2>

            <p>Конкретные указания на то, какая именно информация о человеке является его индивидуальными
                и охраняемыми данными в законодательстве отсутствует. По сложившейся практике
                под ней обычно скрывается:
            </p>

            <ul>
                <li>фамилия, имя, отчество;</li>
                <li>дата и место рождения;</li>
                <li>адрес проживания (место регистрации);</li>
                <li>семейное, социальное и имущественное положение;</li>
                <li>образование, профессия;</li>
                <li>доходы, имущество и обязательства.</li>
            </ul>

            <p>Обычно такие сведения человек сообщает о себе сам во многих государственных органах, медицинских
                и образовательных учреждениях, кредитных организациях и даже в коммерческих структурах, например
                при трудоустройстве. Кроме вышеперечисленных сведений, которые являются общими, есть еще специальные личные данные, например национальность, вероисповедание, политические взгляды, состояние здоровья и прочая информация подобного рода.
            </p>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))() %>
