<%= _.template(require('./../includes/header.html'))({ bc: true }) %>
<%= _.template(require('./../includes/svg.html'))() %>

<div class="page">
    <div class="container">
        <div class="page__layout">
            <div class="page__left">
                <%= _.template(require('./../includes/sidebar.html'))() %>
            </div>
            <div class="page__right">
                <div class="listing1__wrapper">
                    <div class="listing1">
                        <div class="listing1__item m-head">
                            <div class="listing1__l">Заказчик</div>
                            <div class="listing1__r">
                                <div class="listing1__p1"></div>
                                <div class="listing1__p2">Электротехническое оборудование</div>
                                <div class="listing1__p3">Год поставки</div>
                            </div>
                        </div>
                        <div class="listing1__item">
                            <div class="listing1__l">
                                <img src="/uploads/ref1.png"/>
                            </div>
                            <div class="listing1__r">
                                <div class="listing1__p1">
                                    <a class="listing1__link" href="">ОАО «Курганэнерго»</a>
                                </div>
                                <div class="listing1__p2">
                                    <a class="listing1__link" href="">Комплекс АСУТП ПС 110/35/10 кВ «Щучанская»</a>
                                </div>
                                <div class="listing1__p3">2008 г.</div>
                            </div>
                        </div>
                        <div class="listing1__item">
                            <div class="listing1__l">
                                <img src="/uploads/ref1.png"/>
                            </div>
                            <div class="listing1__r">
                                <div class="listing1__p1">
                                    <a class="listing1__link" href="">ОАО «Курганэнерго»</a>
                                </div>
                                <div class="listing1__p2">
                                    <a class="listing1__link" href="">Комплекс АСУТП ПС 110/35/10 кВ «Щучанская»</a>
                                </div>
                                <div class="listing1__p3">2008 г.</div>
                            </div>
                        </div>
                        <div class="listing1__item">
                            <div class="listing1__l">
                                <img src="/uploads/ref1.png"/>
                            </div>
                            <div class="listing1__r">
                                <div class="listing1__p1">
                                    <a class="listing1__link" href="">ОАО «Курганэнерго»</a>
                                </div>
                                <div class="listing1__p2">
                                    <a class="listing1__link" href="">Комплекс АСУТП ПС 110/35/10 кВ «Щучанская»</a>
                                </div>
                                <div class="listing1__p3">2008 г.</div>
                            </div>
                        </div>
                        <div class="listing1__item">
                            <div class="listing1__l">
                                <img src="/uploads/ref1.png"/>
                            </div>
                            <div class="listing1__r">
                                <div class="listing1__p1">
                                    <a class="listing1__link" href="">ОАО «Курганэнерго»</a>
                                </div>
                                <div class="listing1__p2">
                                    <a class="listing1__link" href="">Комплекс АСУТП ПС 110/35/10 кВ «Щучанская»</a>
                                </div>
                                <div class="listing1__p3">2008 г.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="listing1__more center">
                    <a class="button m-styled1" href="">Показать еще</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))() %>
