$colorBlack: #2D2D2D;
$colorWhite: #FFFFFF;
$colorPrimary: #E58A53;
$colorSecondary: #163C6E;
$colorGray400: #999999;
$colorGray500: #CCCCCC;
$colorGray600: #FAFAFA;


$font1: 'Roboto', sans-serif;

@mixin flex($justify: 'space-between', $align: 'center') {
  display: flex;
  justify-content: unquote($justify);
  align-items: unquote($align);
}
@mixin dev($name: '', $height: 5, $color: #df1c41) {
  border: 1px solid $color;
  min-height: unquote($height + 'px');
  position: relative;
  &::after {
    position: absolute;
    top: 3px;
    left: 3px;
    content: $name;
    color: #777;
    font-size: 12px;
  }
}

@mixin media-320() { @media all and (max-width: 320px) { @content; } }
@mixin media-480() { @media all and (max-width: 480px) { @content; } }
@mixin media-640() { @media all and (max-width: 640px) { @content; } }
@mixin media-768() { @media all and (max-width: 768px) { @content; } }
@mixin media-960() { @media all and (max-width: 960px) { @content; } }
@mixin media-1200() { @media all and (max-width: 1200px) { @content; } }
@mixin media-1440() { @media all and (max-width: 1440px) { @content; } }


//@font-face {
//  font-family: 'PFDinDisplay';
//  src: url(../fonts/PFDinDisplay/PFDinDisplay.ttf);
//}
//
//@font-face {
//  font-family: 'PFDinMedium';
//  src: url(../fonts/PFDinMedium/PFDinMedium.ttf);
//}

@import "~normalize.css/normalize.css";
@import "import/*.scss";
